auto/nodered/flows.json
[{"id":"30c50b18.b6b5b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"463d34d7.9c8d6c","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"d6f8e320.ad8d2","type":"api-call-service","z":"30c50b18.b6b5b4","name":"","server":"463d34d7.9c8d6c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.tradfri_outlet","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":670,"y":120,"wires":[[]]},{"id":"b1bb2c0e.8e9f1","type":"api-call-service","z":"30c50b18.b6b5b4","name":"","server":"463d34d7.9c8d6c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.tradfri_outlet","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":670,"y":220,"wires":[[]]},{"id":"43e29e09.d9695","type":"schedex","z":"30c50b18.b6b5b4","name":"","passthroughunhandled":false,"suspended":false,"lat":"54.742296","lon":"25.195032","ontime":"sunset","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"00:10","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":160,"y":160,"wires":[["a1ef1c6a.e07bd"]]},{"id":"a1ef1c6a.e07bd","type":"switch","z":"30c50b18.b6b5b4","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":160,"wires":[["d6f8e320.ad8d2"],["b1bb2c0e.8e9f1"]]},{"id":"bc04b4a0.6f4318","type":"api-call-service","z":"30c50b18.b6b5b4","name":"","server":"463d34d7.9c8d6c","version":1,"debugenabled":true,"service_domain":"notify","service":"mobile_app_sm_g965f","entityId":"","data":"{\"message\":\"sss\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":480,"wires":[[]]},{"id":"6fb07fdb.ae039","type":"inject","z":"30c50b18.b6b5b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":460,"wires":[["bc04b4a0.6f4318"]]},{"id":"2922cbec.610094","type":"api-call-service","z":"30c50b18.b6b5b4","name":"","server":"463d34d7.9c8d6c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.tasmota_outdoor_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":670,"y":300,"wires":[[]]},{"id":"e10cda9f.660478","type":"api-call-service","z":"30c50b18.b6b5b4","name":"","server":"463d34d7.9c8d6c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.tasmota_outdoor_lights","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":670,"y":400,"wires":[[]]},{"id":"36dce1fe.ae4c5e","type":"schedex","z":"30c50b18.b6b5b4","name":"","passthroughunhandled":false,"suspended":false,"lat":"54.742296","lon":"25.195032","ontime":"sunset","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"sunrise","offtopic":"","offpayload":"off","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":160,"y":340,"wires":[["6b56b179.a26d4"]]},{"id":"6b56b179.a26d4","type":"switch","z":"30c50b18.b6b5b4","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":340,"wires":[["2922cbec.610094"],["e10cda9f.660478"]]}]